{% include '../parts/head.html' %}
<body class="page-inner">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<h1 class="w3c">Вся женская одежда</h1>

			{% include '../parts/components/nav-active.html' %}

			<div class="page-content">

				<div class="catalog">

					<button class="btn-filter js-open-filter-btn" type="button">Filter +</button>

					<!-- FILTER -->
					<aside class="filter js-filter">
						<div class="filter-entering">
							<span class="filter-title">Фильтр</span>

							<button class="btn-close js-close-filter-btn" type="button">
								<svg viewBox="0 0 311 311.07733" xmlns="http://www.w3.org/2000/svg"><path d="m16.035156 311.078125c-4.097656 0-8.195312-1.558594-11.308594-4.695313-6.25-6.25-6.25-16.382812 0-22.632812l279.0625-279.0625c6.25-6.25 16.382813-6.25 22.632813 0s6.25 16.382812 0 22.636719l-279.058594 279.058593c-3.136719 3.117188-7.234375 4.695313-11.328125 4.695313zm0 0"></path><path d="m295.117188 311.078125c-4.097657 0-8.191407-1.558594-11.308594-4.695313l-279.082032-279.058593c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.636719 0l279.058594 279.0625c6.25 6.25 6.25 16.382812 0 22.632812-3.136719 3.117188-7.230469 4.695313-11.304687 4.695313zm0 0"></path></svg>
							</button>
						</div>

						<div class="filter-content">
							<!-- Params -->
							<div class="filter-params">
								<p class="filter-params__title">Размеры</p>

								<div class="filter-params__labels">
									<label class="filter-param__label">
										<input type="checkbox" name="size" value="3XL (RUS 52-54)">
										<span class="filter-param__value">3XL (RUS 52-54)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="4XL (RUS 54-56)">
										<span class="filter-param__value">4XL (RUS 54-56)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="5XL (RUS 56-58)">
										<span class="filter-param__value">5XL (RUS 56-58)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="5XL (RUS 56-58)">
										<span class="filter-param__value">EU 36 (RUS 42)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="3XL (RUS 52-54)">
										<span class="filter-param__value">3XL (RUS 52-54)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="4XL (RUS 54-56)">
										<span class="filter-param__value">4XL (RUS 54-56)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="5XL (RUS 56-58)">
										<span class="filter-param__value">5XL (RUS 56-58)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="5XL (RUS 56-58)">
										<span class="filter-param__value">EU 36 (RUS 42)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="3XL (RUS 52-54)">
										<span class="filter-param__value">3XL (RUS 52-54)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="4XL (RUS 54-56)">
										<span class="filter-param__value">4XL (RUS 54-56)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="5XL (RUS 56-58)">
										<span class="filter-param__value">5XL (RUS 56-58)</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="size" value="5XL (RUS 56-58)">
										<span class="filter-param__value">EU 36 (RUS 42)</span>
									</label>
								</div>

								<button class="btn-toggle-params js-toggle-filter-labels-btn" type="button">...</button>
							</div>
							<!-- //Params -->

							<!-- Params -->
							<div class="filter-params">
								<p class="filter-params__title">Цвет</p>

								<div class="filter-params__labels">
									<label class="filter-param__label">
										<input type="checkbox" name="color" value="Белый">
										<span class="filter-param__value">Белый</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="color" value="Черный">
										<span class="filter-param__value">Черный</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="color" value="Красный">
										<span class="filter-param__value">Красный</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="color" value="Белый">
										<span class="filter-param__value">Белый</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="color" value="Черный">
										<span class="filter-param__value">Черный</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="color" value="Красный">
										<span class="filter-param__value">Красный</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="color" value="Белый">
										<span class="filter-param__value">Белый</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="color" value="Черный">
										<span class="filter-param__value">Черный</span>
									</label>

									<label class="filter-param__label">
										<input type="checkbox" name="color" value="Красный">
										<span class="filter-param__value">Красный</span>
									</label>

								</div>

								<button class="btn-toggle-params js-toggle-filter-labels-btn" type="button">...</button>
							</div>
							<!-- //Params -->
						</div>
					</aside>
					<!-- //FILTER -->

					<div class="row align-horisontal-start catalog__row">
						<div class="product-card__wrapper col-w-25">
							{% include '../parts/components/product-card.html' %}
						</div>
						<!-- //card -->

						<div class="product-card__wrapper col-w-25">
							{% include '../parts/components/product-card.html' %}
						</div>
						<!-- //card -->

						<div class="product-card__wrapper col-w-25">
							{% include '../parts/components/product-card.html' %}
						</div>
						<!-- //card -->

						<div class="product-card__wrapper col-w-25">
							{% include '../parts/components/product-card.html' %}
						</div>
						<!-- //card -->

						<div class="product-card__wrapper col-w-25">
							{% include '../parts/components/product-card.html' %}
						</div>
						<!-- //card -->

						<div class="product-card__wrapper col-w-25">
							{% include '../parts/components/product-card.html' %}
						</div>
						<!-- //card -->

						<div class="product-card__wrapper col-w-25">
							{% include '../parts/components/product-card.html' %}
						</div>
						<!-- //card -->

					</div>

				</div>


			</main>
			<!-- //Main -->

			<!-- Footer -->
			{% include '../parts/sections/footer.html' %}
			<!-- //Footer -->

		</div>
		<!-- //CONTENT WRAPPER -->

		{% include '../parts/scripts.html' %}

	</body>

	</html>