{% include '../parts/head.html' %}
<body class="page-inner">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			{% include '../parts/components/nav.html' %}

			<div class="page-content">


				<div class="content">
					<h1>ОПЛАТА, ДОСТАВКА И ВОЗВРАТ</h1>

					<h2>ОПЛАТА ПРИ ПОЛУЧЕНИИ:</h2>

					<ul>
						<li>При доставке <b>курьером</b> по г. <strong>Москва возможна</strong> наличными и банковской картой</li>
						<li>При покупке в шоуруме в г. Москва возможна наличными и банковской картой (<a href="#" target="_blank">шоурум на GOOGLE MAPS</a>)</li>
						<li>При доставке службой DPD а также в пункте выдачи заказа возможна наличными и банковской картой</li>
					</ul>

					<h2>ДОСТАВКА</h2>

					<h3>Получить свой заказ вы можете несколькими способами:</h3>

					<ul>
						<li>Курьерская доставка с примеркой</li>
						<li>Самовывоз из пункта выдачи DPD</li>
						<li>Самовывоз из пункта выдачи DPD с примеркой (доступно не во всех пунктах выдачи)</li>
						<li>Самовывоз в Москве из шоурума в Москва-Сити, башня "ИМПЕРИЯ", 50й этаж, с примеркой и захватывающим видом (<a href="#" target="_blank">шоурум на GOOGLE MAPS</a>)</li>
					</ul>

					<p>Найти пункт выдачи в своем городе и уточнить сроки доставки вы можете на сайте <a href="#" target="_blank">DPD PICKUP POINTS</a></p>

					<h3>Сроки доставки:</h3>
					<ul>
						<li>г. Москва <span style="text-decoration: underline">1 день</span></li>
						<li>Московская область <span style="text-decoration: underline">1-2 дня</span></li>
						<li>г. Санкт-Петербург и Ленинградская область <span style="text-decoration: underline">2 дня</span></li>
						<li>Черноземье <span style="text-decoration: underline">2-3 дня</span></li>
						<li>Юг <span style="text-decoration: underline">2-3 дня</span></li>
						<li>Поволжье <span style="text-decoration: underline">2-4 дня</span></li>
						<li>Урал <span style="text-decoration: underline">3-7 дней</span></li>
						<li>Сибирь <span style="text-decoration: underline">3-10 дней</span></li>
						<li>Дальний восток <span style="text-decoration: underline">5-14 дней</span></li>
					</ul>

					<h3>Условия доставки:</h3>
					<ul>
						<li>Доставка по Москве бесплатно без дополнительных условий</li>
						<li>Доставка по РФ бесплатно при заказе и последующем выкупе на сумму более 5 000 руб</li>
						<li>В случае выкупа не меньшую сумму стоимость доставки рассчитывается менеджером</li>
					</ul>

					<h2>ВОЗВРАТ</h2>

					<ul>
						<li>В г. Москва адрес возврата Пресненская Набережная 6с2, 50 эт, пом. 5002/1</li>
						<li>По России - через пункты выдачи заказа DPD</li>
						<li>В соответствии с законодательством РФ гарантийный срок на товар составляет 14 календарных дней</li>
						<li>Товар должен быть возвращен с сохранением товарного вида, потребительских свойств и этикеток. После получения нами товара, деньги будут зачислены на Вашу карту или банковский счет в течение 3-10 рабочих дней (в зависимости от скорости обработки операции Вашим банком)</li>
					</ul>

					<p>ООО "МИЛЛЕННИАЛС"</p>
					<p>ОГРН 1197746443487</p>

					<p>
						<span><img src="img/logos/1.jpg" alt="" width="140" height="140"></span>
						<span><img src="img/logos/2.jpg" alt="" width="241" height="120"></span>
						<span><img src="img/logos/3.jpg" alt="" width="313" height="103"></span>
					</p>
				</div>

			</div>


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>