{% include '../parts/head.html' %}
<body class="page-inner">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">



		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">



			{% include '../parts/components/nav.html' %}

			<div class="page-content">

				<section class="cabinet">
					<div class="page-entering">
						<div class="row align-vertical-center align-horisontal-between row-nowrap">
							<h1 class="sect-title">Личный кабинет</h1>

							<a href="index.html" class="link link-prev">Вернуться на главную</a>
						</div>
					</div>

					<div class="row align-vertical-start align-horisontal-start cabinet__row">

						<aside class="cabinet-nav">
							<ul>
								<li><span class="cabinet-nav__link is-active">Мои данные</span></li>
								<li><a href="page-cabinet-orders.html" class="cabinet-nav__link">Мои заказы</a></li>
							</ul>
						</aside>

						<div class="cabinet-content">
							<h2 class="sect-title sect-title-sm">Мои данные</h2>

							<form>
								<div class="row align-horisontal-start form-groups__row row-gutters">
									<div class="form-group col-gutters col-w-50">
										<label class="form-label">
											<span>Фамилия:</span>
											<input type="text" name="Фамилия" class="form-input" value="Фамилиевич">
										</label>
									</div>

									<div class="form-group col-gutters col-w-50">
										<label class="form-label">
											<span>Имя:</span>
											<input type="text" name="Имя" class="form-input js-required-input" value="Сергей">
										</label>
									</div>

									<div class="form-group col-gutters col-w-33">
										<label class="form-label">
											<span>E-mail:</span>
											<input type="email" name="email" class="form-input js-required-input" value="email@email.ru">
										</label>
									</div>

									<div class="form-group col-gutters col-w-33">
										<label class="form-label">
											<span>Дата рождения:</span>
											<input type="date" name="Дата рождения" class="form-input" placeholder="ДД.ММ.ГГГГ">
										</label>
									</div>

									<div class="form-group col-gutters col-w-33">
										<label class="form-label">
											<span>Пол:</span>
											<select name="Пол" class="form-input form-select">
												<option value="Мужской">Мужской</option>
												<option value="Женский">Женский</option>
											</select>
											
										</label>
									</div>
								</div>

								<div class="submit-wrapper">
									<button class="btn is-disabled btn-lg" disabled type="submit">Сохранить</button>
								</div>
							</form>
						</div>
					</div>
				</section>
				
			</div>

			

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>