{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<h1 class="w3c">Основной сео-заголовок страницы</h1>

			{% include '../parts/components/nav.html' %}

			<div class="page-content">

				

				<div class="hidden-desktop visible-tablet homepage-content">
					
					<nav class="categories-cards">
						<a href="page-catalog.html" class="category-card">
							<span class="category-card__img bg" style="background-image: url('img/cat.png');"></span>
							<span class="category-card__title">Millennials</span>
						</a>

						<a href="page-catalog.html" class="category-card">
							<span class="category-card__img bg" style="background-image: url('img/cat.png');"></span>
							<span class="category-card__title">Все женские</span>
						</a>

						<a href="page-catalog.html" class="category-card">
							<span class="category-card__img bg" style="background-image: url('img/cat.png');"></span>
							<span class="category-card__title">Все мужское</span>
						</a>

						<a href="page-catalog.html" class="category-card">
							<span class="category-card__img bg" style="background-image: url('img/cat.png');"></span>
							<span class="category-card__title">Из кожи</span>
						</a>
					</nav>

					<div class="video-wrapper">
						<a href="https://millennialstm.com/promo" class="video-link">&nbsp;</a>
						{% include '../parts/components/video.html' %}
					</div>

					<nav class="homepage-categories">
						{% include '../parts/sections/homepage-categories.html' %}
					</nav>

					<div class="advantages">
						<!-- Advantage -->
						<div class="advantage">
							<div class="advantage__title">
								<p>ЛЕТНЯЯ РАСПРОДАЖА</p>
							
							</div>
							<div class="advantage__text">
								<p>до 75%</p>
							</div>
						</div>
						<!-- //Advantage -->

						<!-- Advantage -->
						<div class="advantage">
							<div class="advantage__title">
								<p>Бесплатная доставка c примеркой</p>
								
								</span>
							</div>
							<div class="advantage__text">
								<p>по России при покупке от 5 000 руб. По Москве уже на следующий день. Служба доставки - компания DPD</p>
							</div>
						</div>
						<!-- //Advantage -->

						<!-- Advantage -->
						<div class="advantage">
							<div class="advantage__title">
								<p>Легкий возврат</p>
						
							</div>
							<div class="advantage__text">
								<p>Не подошел размер или изделие ? Быстро и легко заменим или вернем деньги</p>
							</div>
						</div>
						<!-- //Advantage -->


					</div>
				</div>

				<!-- MAIN SLIDER -->
				<div class="promo-slider js-promo-slider hidden-tablet">
					<div class="promo-slide">
						{% include '../parts/components/promo-picture.html' %}
					</div>
					<!-- //slide -->
					<div class="promo-slide">
						{% include '../parts/components/promo-picture.html' %}
					</div>
					<!-- //slide -->
				</div>
				<!-- //MAIN SLIDER -->
			</div>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>