{% include '../parts/head.html' %}
<body class="page-inner">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">



			{% include '../parts/components/nav-active.html' %}

			<div class="page-content">


				<div class="product">
					<div class="product-imgs col-w-50">
						<div class="product-imgs__slider js-product-slider">
							<a href="img/product/1.jpg" class="product-img" data-fancybox="product">
								<img src="img/product/1.jpg" alt="">
							</a>

							<a href="img/product/2.jpg" class="product-img" data-fancybox="product">
								<img src="img/product/2.jpg" alt="">
							</a>

							<a href="img/product/3.jpg" class="product-img" data-fancybox="product">
								<img src="img/product/3.jpg" alt="">
							</a>
						</div>
					</div>

					<div class="product-information col-w-50">
						<div class="product-information__content">
							<h1 class="product-title">ЧЕРНЫЙ ЛОНГСЛИВ</h1>
							<p class="product-prices"><span class="old-price">7 990</span> 2 490 RUB</p>
							<p class="product-param">Цвет: BLACK - MMCKT128</p>

							<div class="product-characteristics">
								<ul>
									<li>состав: <b>100% хлопок</b></li>
									<li>материал подкладки: <b>без подкладки</b></li>
									<li>размер изделия на модели: <b>M</b></li>
									<li>параметры модели: <b>98-77-95</b></li>
									<li>рост модели на фото: <b>184</b></li>
									<li>длина: <b>75 см</b></li>
									<li>длина рукава: <b>69 см</b></li>
									<li>сезон: <b>мульти</b></li>
									<li>цвет: <b>черный</b></li>
									<li>выкройка: <b>рисунки и надписи</b></li>
									<li>страна изготовления: <b>зависит от места заказа</b></li>
								</ul>
							</div>

							<!-- Sizes -->
							<div class="product-sizes">
								<div class="product-size">
									<label class="product-size__label">
										<input type="radio" name="size" value="S (RUS 46)">
										<span>S (RUS 46)</span>
									</label>
								</div>

								<div class="product-size">
									<label class="product-size__label">
										<input type="radio" name="size" value="M (RUS 48)">
										<span>M (RUS 48)</span>
									</label>
								</div>

								<div class="product-size">
									<label class="product-size__label">
										<input type="radio" name="size" value="XXL (RUS 54)">
										<span>XXL (RUS 54)</span>
									</label>
								</div>

								<div class="product-size">
									<label class="product-size__label">
										<input type="radio" name="size" value="S (RUS 46)">
										<span>S (RUS 46)</span>
									</label>
								</div>

								<div class="product-size">
									<label class="product-size__label">
										<input type="radio" name="size" value="M (RUS 48)">
										<span>M (RUS 48)</span>
									</label>
								</div>

								<div class="product-size">
									<label class="product-size__label">
										<input type="radio" name="size" value="XXL (RUS 54)">
										<span>XXL (RUS 54)</span>
									</label>
								</div>
							</div>
							<!-- //Sizes -->

							<div class="product-btns">
								<a class="btn btn-wide" href="#">Заказать</a>
								<a class="btn btn-wide" href="#">Добавить в корзину</a>
							</div>
						</div>
					</div>
				</div>

				<section class="sect__another-products">
					<h2 class="sect-title">Похожие товары <span>10 товаров</span></h2>

					<div class="another-products js-another-products-slider">
						<article class="another-product__card">
							{% include '../parts/components/product-card.html' %}
						</article>

						<article class="another-product__card">
							{% include '../parts/components/product-card.html' %}
						</article>

						<article class="another-product__card">
							{% include '../parts/components/product-card.html' %}
						</article>

						<article class="another-product__card">
							{% include '../parts/components/product-card.html' %}
						</article>

						<article class="another-product__card">
							{% include '../parts/components/product-card.html' %}
						</article>

						<article class="another-product__card">
							{% include '../parts/components/product-card.html' %}
						</article>

						<article class="another-product__card">
							{% include '../parts/components/product-card.html' %}
						</article>

						<article class="another-product__card">
							{% include '../parts/components/product-card.html' %}
						</article>
					</div>
				</section>

			</div>


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>