{% include '../parts/head.html' %}
<body class="page-inner">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			{% include '../parts/components/nav.html' %}

			<div class="page-content">


				<article class="content">
					<h1>КОНТАКТЫ</h1>

					<p>Офис и шоурум в Москва-Сити, башня "ИМПЕРИЯ", 50й этаж, с примеркой и захватывающим видом (<a href="#" target="_blank">ссылка навигации по GOOGLE MAPS</a>)</p>

					<p>Российская Федерация, 123112, город Москва,</p>
					<p>Пресненская набережная, дом 6, строение 2</p>
					<p>Помещение 5002/1 - <b>ШОУРУМ</b></p>
					<p>Помещение 5002/2 - <b>ОФИС</b></p>


					<p>ООО "МИЛЛЕННИАЛС"</p>
					<p>ОГРН 1197746443487</p>

					<img src="img/logos/1.jpg" alt="">

				</article>

			</div>


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>