<nav class="nav js-menu">
	<div class="nav-overlay js-close-menu-btn"></div>
	<div class="nav-content">
		<button class="btn-close js-close-menu-btn" type="button">
			<svg viewBox="0 0 311 311.07733" xmlns="http://www.w3.org/2000/svg"><path d="m16.035156 311.078125c-4.097656 0-8.195312-1.558594-11.308594-4.695313-6.25-6.25-6.25-16.382812 0-22.632812l279.0625-279.0625c6.25-6.25 16.382813-6.25 22.632813 0s6.25 16.382812 0 22.636719l-279.058594 279.058593c-3.136719 3.117188-7.234375 4.695313-11.328125 4.695313zm0 0"></path><path d="m295.117188 311.078125c-4.097657 0-8.191407-1.558594-11.308594-4.695313l-279.082032-279.058593c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.636719 0l279.058594 279.0625c6.25 6.25 6.25 16.382812 0 22.632812-3.136719 3.117188-7.230469 4.695313-11.304687 4.695313zm0 0"></path></svg>
		</button>

		<a href="index.html" class="logo">
			<img src="img/logo.png" alt="">
		</a>

		<ul class="nav-list">
			<!-- Add is-current class to the LI item on the current category page and is-active clasa to the inner btn-toggle -->
			<li class="has-submenu-item">
				<a href="page-category.html">Женщины</a>

				<button class="btn-toggle" type="button"></button>

				<ul class="sub-menu">
					<li><a href="page-catalog.html">Вся продукция</a></li>
					<li><a href="page-catalog.html">Верх</a></li>
					<li><a href="page-catalog.html">Низ</a></li>
					<li><a href="page-catalog.html">Аксессуары</a></li>
				</ul>
			</li>
			<li class="has-submenu-item">
				<a href="page-category.html">Мужчины</a>

				<button class="btn-toggle" type="button"></button>

				<ul class="sub-menu">
					<li><a href="page-catalog.html">Вся продукция</a></li>
					<li><a href="page-catalog.html">Толстовки и худи</a></li>
					<li><a href="page-catalog.html">Деним</a></li>
					<li><a href="page-catalog.html">Брюки</a></li>
					<li><a href="page-catalog.html">Поло и рубашки</a></li>
					<li><a href="page-catalog.html">Футболки</a></li>
					<li><a href="page-catalog.html">Из кожи</a></li>
				</ul>
			</li>
			<li class="has-submenu-item last-item">
				<span>Info</span>
				<button class="btn-toggle" type="button"></button>
				<ul class="sub-menu">
					<li><a href="page-delivery.html">ОПЛАТА, ДОСТАВКА и ВОЗВРАТ</a></li>
					<li><a href="page-contacts.html">Контакты</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
