<!-- Popup -->
<div class="popup js-popup js-popup-login" >
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<button class="btn-close js-close-popup-btn" type="button">
				<svg viewBox="0 0 311 311.07733" xmlns="http://www.w3.org/2000/svg"><path d="m16.035156 311.078125c-4.097656 0-8.195312-1.558594-11.308594-4.695313-6.25-6.25-6.25-16.382812 0-22.632812l279.0625-279.0625c6.25-6.25 16.382813-6.25 22.632813 0s6.25 16.382812 0 22.636719l-279.058594 279.058593c-3.136719 3.117188-7.234375 4.695313-11.328125 4.695313zm0 0"></path><path d="m295.117188 311.078125c-4.097657 0-8.191407-1.558594-11.308594-4.695313l-279.082032-279.058593c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.636719 0l279.058594 279.0625c6.25 6.25 6.25 16.382812 0 22.632812-3.136719 3.117188-7.230469 4.695313-11.304687 4.695313zm0 0"></path></svg>
			</button>
			<!-- Popup content-->
			<div class="popup__content">
				<div class="tab-controls">
					<button class="tab-controls__btn js-tab-btn is-active" type="button">Вход</button>
					<button class="tab-controls__btn js-tab-btn" type="button">Регистрация</button>
				</div>

				<div class="tab-contents">
					<div class="tab-content js-tab-content">
						<p class="popup__title">Вход</p>

						<form >
							<div class="form-group">
								<label class="form-label">
									<span>E-mail:</span>
									<input type="email" class="form-input js-required-input" name="email">
								</label>
							</div>

							<div class="form-group">
								<label class="form-label">
									<span>Пароль:</span>
									<input type="password" class="form-input js-required-input" name="password">
								</label>
							</div>

							<button class="btn btn-wide btn-lg" type="submit">Войти</button>
						</form>
					</div>

					<div class="tab-content js-tab-content">
						<p class="popup__title">Регистрация</p>

						<form >
							<div class="form-group">
								<label class="form-label">
									<span>E-mail:</span>
									<input type="email" class="form-input js-required-input" name="email">
								</label>
							</div>

							<div class="form-group">
								<label class="form-label">
									<span>Пароль:</span>
									<input type="password" class="form-input js-required-input" name="password">
								</label>
							</div>

							<button class="btn btn-wide btn-lg" type="submit">Отправить</button>
						</form>
					</div>
				</div>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->