.btn
	display inline-block
	padding 10px 15px
	font 14px $Reg
	font-weight 700
	text-transform uppercase
	line-height 1
	text-align center
	color $basic-white-color
	background-color $basic-black-color
	transition all .17s ease-in-out
	backface-visibility hidden
	border 1px solid $basic-black-color
	&:disabled,
	&.is-disabled
		background-color #f5f5f5
		border-color $grey-bg
		color rgba($light-text-color, .5)
		pointer-events none
	&:hover
		background-color $basic-white-color
		color $basic-black-color
		
	&-invisible
		color $light-text-color
		background-color transparent
		
	&-lg
		padding 20px 60px
	&-wide
		display block
		width 100%
		padding-left 10px
		padding-right 10px
		
	&-delete
		display inline-block
		width 24px
		height 24px
		position absolute
		right 0
		top 0
		svg
			svg()
			fill $light-text-color
		&:hover
			svg
				fill $basic-black-color
		
	
	
		
	&-close
		display none
		width 20px
		height 20px
		position absolute
		top 20px
		right 20px
		svg
			svg()
			fill-opacity .5
		&:hover
			svg
				fill-opacity 1
			
	&-toggle
		display inline-block	
		width 30px
		height 43px
		position absolute	
		top 0
		right 0
		z-index 	1
		&:before,
		&:after
			width 10px
			height 1px
			background-color $basic-black-color
			pseudo()
			position absolute
			position-center()
			transition opacity .17s ease-in-out
		&:before
			height 10px
			width 1px
		&.is-active
			&:before
				opacity 0
			
	
		
	&-search
		display inline-block
		width 22px
		height 22px
		flex none
		svg
			svg()
			fill $basic-black-color
		&:hover
			svg
				fill-opacity .6

		

	&-hamburger
		display inline-block
		flex none
		width 36px
		height 36px
		position relative
		transition background-color .17s ease-in-out
		margin-left -5px
		&__line
			width 27px
			height 2px
			background-color $basic-black-color
			display block
			margin 6px auto
			transition all 0.3s ease-in-out	
		&.is-active
			span
				&:nth-child(1)
					transform translateY(8px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-8px) rotate(-45deg)
		