.btn
	display inline-block
	padding 12px 15px
	font 1em $Reg
	line-height 1
	text-align center
	color $text-color
	border 2px solid transparent
	transition all .17s ease-in-out
	backface-visibility hidden
	
	&-accent
		background-color $accent-color
		
	&-transparent
		background-color transparent
		
	&-dark
		background-color $basic-black-color
		
	&-close
		display none
		width 20px
		height 20px
		position absolute
		top 20px
		right 20px
		svg
			svg()
			fill-opacity .5
			
	
		
	&-search
		display inline-block
		width 22px
		height 22px
		flex none
		svg
			svg()
			fill $basic-black-color
		&:hover
			svg
				fill-opacity .6

		

	&-hamburger
		display inline-block
		flex none
		width 36px
		height 36px
		position relative
		transition background-color .17s ease-in-out
		margin-left -5px
		&__line
			width 27px
			height 2px
			background-color $basic-black-color
			display block
			margin 6px auto
			transition all 0.3s ease-in-out	
		&.is-active
			span
				&:nth-child(1)
					transform translateY(8px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-8px) rotate(-45deg)
		