.currency
	position fixed
	left 20px
	bottom 20px
	z-index 99
	display flex
	flex-wrap nowrap
	border-radius 3px
	overflow hidden
	border 1px solid #D6D6D6
	font-size 15px
	&-item
		flex-col-center()
		width 40px
		height 34px
		transition all .17s ease-in-out
		background-color $basic-white-color
		color #bbbbbb
		text-align center
		border-right 1px solid #D6D6D6
		&:last-child
			border-right none
		&.is-active
			color #666666
			background-color $grey-bg
		&:hover
			cursor pointer
			color #666666
			
.langs
	position fixed
	bottom 20px
	right 20px
	z-index 99
	border 1px solid #ddd
	border-radius 3px
	background-color $basic-white-color
	min-width 140px
	color $text-color
	&.is-active
		.langs-arrow
			transform rotate(-90deg)
		.langs-list
			display block
			
	&-list
		display none
		border-bottom 1px solid #ddd
			
		&__item
			display flex
			align-items center
			justify-content flex-start
			flex-wrap nowrap
			padding 5px 10px
			transition background-color .17s ease-in-out
			&:hover
				cursor pointer
				background-color $grey-bg
		
	&-current
		display flex
		align-items center
		justify-content flex-start
		flex-wrap nowrap
		padding 5px 10px
		position relative
		line-height 1
		&:hover
			cursor pointer
			
	&-arrow
		display inline-block
		width 16px
		height 16px
		position absolute
		right 10px
		top 50%
		margin-top -8px
		transition transform .17s ease-in-out
		svg
			svg()
		
		
	&-text
		font-size 15px
		
	&-flag
		flex none
		width 24px
		height 24px
		margin-right 10px
		img
			display block
			width 100%
			height 100%
			border-radius 50%
		


.link
	display inline-block
	color $light-text-color
	font-size 14px
	position relative
	&:hover
		color $text-color
		
	&-prev
		&:before
			content '<'
			display inline-block
			margin-right 5px
			

.notification
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	z-index 300
	//transition all .3s ease-in-out
	display none
	// opacity 0
	// visibility hidden
	// pointer-events none
	// &.is-active
	// 	margin-top 0
	// 	opacity 1
	// 	visibility visible
	// 	pointer-events auto

		
	&-content
		display inline-block
		z-index 2
		width 300px !important
		text-align center
		font-size 18px
		padding 30px
		background-color $basic-white-color
		box-shadow 3px 0 15px 5px rgba($basic-black-color, .1)
		position relative
		.btn
			margin-top 10px
			
	.btn-close
		display block
		top 5px
		right 5px
		width 13px
		height 13px
		svg
			fill $basic-black-color
			top 5px
			right 5px
	p
		margin-bottom 10px
	&-ic
		display block
		margin 0 auto 5px auto
		width 35px
		height 35px
		svg
			svg()