<footer class="footer">
	<div class="row align-horisontal-between align-vertical-center footer__row">
		<p><a href="page-delivery.html">ОПЛАТА, ДОСТАВКА и ВОЗВРАТ</a></p>
		<p>&copy; 2021 MILLENNIALS | EMAIL : <a href="mailto:info@millennialstm.com">info@millennialstm.com</a> | INSTAGRAM : <a href="#" target="_blank" rel="nofollow">@millennials_tm</a></p>
	</div>

	<ul class="currency">
		<li class="currency-item is-active" data-currency="usd">$</li>
		<li class="currency-item" data-currency="euro">€</li>
		<li class="currency-item" data-currency="rubl">₽</li>
	</ul>

	<div class="langs">
		<ul class="langs-list">
			<li class="langs-list__item" data-value="ru">
				<span class="langs-flag">
					<img src="img/icons/langs/ru.png" alt="">
				</span>
				<span class="langs-text">Русский</span>
			</li>
			<li class="langs-list__item" data-value="usa">
				<span class="langs-flag">
					<img src="img/icons/langs/usa.png" alt="">
				</span>
				<span class="langs-text">English</span>
			</li>
			<li class="langs-list__item" data-value="esp">
				<span class="langs-flag">
					<img src="img/icons/langs/esp.png" alt="">
				</span>
				<span class="langs-text">Espanol</span>
			</li>
		</ul>
		<div class="langs-current">
			<span class="langs-flag">
				<img src="img/icons/langs/ru.png" alt="">
			</span>
			<span class="langs-text">Русский</span>
			<span class="langs-arrow">
				<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M202.1,450a15,15,0,0,1-10.6-25.61L365.79,250.1,191.5,75.81A15,15,0,0,1,212.71,54.6l184.9,184.9a15,15,0,0,1,0,21.21l-184.9,184.9A15,15,0,0,1,202.1,450Z"/></svg>
			</span>
		</div>

		

	</div>
</footer>
