<header class="header">

	<div class="header-infoline text-center">
		<p>БЕСПЛАТНАЯ ДОСТАВКА ПО РОССИИ СЛУЖБОЙ DPD ПРИ ПОКУПКЕ ОТ 5 000 РУБ.</p>
	</div>


	<div class="header-content">
		<div class="row align-horisontal-end align-vertical-start header-content__row">

			<div class="logo__col hidden-desktop visible-tablet">
				<div class="row align-vertical-center align-horisontal-start row-nowrap">
					<!-- Mobile menu btn -->
					<button type="button" class="btn-hamburger js-open-menu-btn">
						<span class="btn-hamburger__line"></span>
						<span class="btn-hamburger__line"></span>
						<span class="btn-hamburger__line"></span>
					</button>
					<!-- //Mobile menu btn -->

					<a href="index.html" class="logo">
						<img src="img/logo-sm.png" alt="">
					</a>
				</div>
			</div>

			<!-- Search -->
			<div class="search js-search">

				<button class="btn-close js-close-search-btn" type="button">
					<svg viewBox="0 0 311 311.07733" xmlns="http://www.w3.org/2000/svg"><path d="m16.035156 311.078125c-4.097656 0-8.195312-1.558594-11.308594-4.695313-6.25-6.25-6.25-16.382812 0-22.632812l279.0625-279.0625c6.25-6.25 16.382813-6.25 22.632813 0s6.25 16.382812 0 22.636719l-279.058594 279.058593c-3.136719 3.117188-7.234375 4.695313-11.328125 4.695313zm0 0"></path><path d="m295.117188 311.078125c-4.097657 0-8.191407-1.558594-11.308594-4.695313l-279.082032-279.058593c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.636719 0l279.058594 279.0625c6.25 6.25 6.25 16.382812 0 22.632812-3.136719 3.117188-7.230469 4.695313-11.304687 4.695313zm0 0"></path></svg>
				</button>

				<span class="search-label">Поиск</span>
				<form class="search-form">
					<input type="text" class="search-input" name="s">
					<button class="btn-search" type="button">
						<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M29.71,28.29l-6.5-6.5-.07,0a12,12,0,1,0-1.39,1.39s0,.05,0,.07l6.5,6.5a1,1,0,0,0,1.42,0A1,1,0,0,0,29.71,28.29ZM14,24A10,10,0,1,1,24,14,10,10,0,0,1,14,24Z"/></svg>
					</button>
				</form>
			</div>
			<!-- //Search -->
			
			<!-- cart link -->
			<a href="page-cart.html" class="cart-link">
				<span class="cart-link__ic">
					<svg enable-background="new 0 0 50 50"  version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<path d="M8,14L4,49h42l-4-35H8z" fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
						<rect fill="none" height="50" width="50"/>
						<path d="M34,19c0-1.241,0-6.759,0-8  c0-4.971-4.029-9-9-9s-9,4.029-9,9c0,1.241,0,6.759,0,8" fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
						<circle cx="34" cy="19" r="2"/>
						<circle cx="16" cy="19" r="2"/>
					</svg>
				</span>
				<span class="cart-link__count">99</span>
			</a>
			<!-- //cart link -->


			<div class="header-tools hidden-desktop visible-tablet">
				<div class="row align-vertical-center row-nowrap">
					<!-- inst -->
					<a href="#" class="header-tools__item" target="_blank" rel="nofollow">

						<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56.7 56.7" enable-background="new 0 0 56.7 56.7" xml:space="preserve">
							<g>
								<path d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
								c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z"/>
								<circle cx="41.5" cy="16.4" r="2.9"/>
								<path d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
								h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
								s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
								c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z"/>
							</g>
						</svg>

					</a>
					<!-- //inst -->

					<!-- Toggle search -->
					<button type="button" class="header-tools__item js-open-search-btn">
						<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M29.71,28.29l-6.5-6.5-.07,0a12,12,0,1,0-1.39,1.39s0,.05,0,.07l6.5,6.5a1,1,0,0,0,1.42,0A1,1,0,0,0,29.71,28.29ZM14,24A10,10,0,1,1,24,14,10,10,0,0,1,14,24Z"/></svg>
					</button>
					<!-- //Toggle search -->
				</div>
			</div>
		</div>
	</div>
</header>



