<a href="page-catalog.html" class="homepage-category">
	<picture class="promo-slide__picture">
		<source media="(max-width: 1100px)" srcset="" type="image/webp">
			<source media="(max-width: 1000px)" srcset="" type="image/png">
				<source  srcset="img/categories/1.webp" type="image/webp">
					<source  srcset="img/categories/1.png" type="image/png">
						<img src="img/categories/1.png" alt="">
					</picture>
				</a>

				<a href="page-catalog.html" class="homepage-category">
					<picture class="promo-slide__picture">
						<source media="(max-width: 1100px)" srcset="" type="image/webp">
							<source media="(max-width: 1000px)" srcset="" type="image/png">
								<source  srcset="img/categories/2.webp" type="image/webp">
									<source  srcset="img/categories/2.png" type="image/png">
										<img src="img/categories/2.png" alt="">
									</picture>
								</a>

								<a href="page-catalog.html" class="homepage-category">
									<picture class="promo-slide__picture">
										<source media="(max-width: 1100px)" srcset="" type="image/webp">
											<source media="(max-width: 1000px)" srcset="" type="image/png">
												<source  srcset="img/categories/3.webp" type="image/webp">
													<source  srcset="img/categories/3.png" type="image/png">
														<img src="img/categories/3.png" alt="">
													</picture>
												</a>