//  Fonts 

// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = Arial, sans-serif
$body-font-size = 16px
$body-line-height = 1.45

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = red
$secondary-color = green
$text-color = #000
$light-text-color = #808080

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #fff

$color-bg = #f3f3f1

$grey-bg = #eee

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========