.cabinet
	max-width 1200px
	
	.form-groups__row
		margin-bottom 0
	
	&-nav
		flex none
		width 200px
		li
			margin-bottom -1px
		
		&__link
			display block
			padding 15px
			color $text-color
			border 1px solid $grey-bg
			transition all .17s ease-in-out
			&:hover
				background-color $basic-black-color
				color $basic-white-color
				border-color $basic-black-color
			&.is-active
				background-color #f5f5f5
				&:hover
					background-color #f5f5f5
					color $text-color
					border-color $grey-bg
					
	&-content
		flex 1
		margin-left 30px
		
		